.tweet-container {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tweet-title {
    color: #333;
  }
  
  .tweet-content {
    color: #000;
  }
  
  .tweet-date {
    color: #fff;
    font-size: 0.8rem;
  }
  
  .delete-btn {
    background-color: #ce631c; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f; /* Darker red */
  }